<!DOCTYPE html>
<html>
   <head>
      {{ graph | safe | json_script:"graph_var" }}
      <title>Covid19: QAS</title>
      <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
      <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
      <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
      <style>
          .carousel-control-next,
          .carousel-control-prev {
              filter: invert(100%);
          }
          .topic-tag-group > .row {
              display: block;
              overflow-x: auto;
              white-space: nowrap;
          }
          .topic-tag-group > .row > .mt-1{
              display: inline-block;
          }
      </style>
   </head>
   <body>
      <div id="qas-ui" class="demo">
         <div>
            <b-navbar toggleable="lg" type="dark" variant="info">
               <b-navbar-brand href="#">Covid19 - QAS</b-navbar-brand>
               <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
               <b-collapse id="nav-collapse" is-nav>
                  <b-navbar-nav>
                     <b-nav-item href="#" active>Rookie Mode</b-nav-item>
                     <b-nav-item href="#">Advanced Mode</b-nav-item>
                  </b-navbar-nav>
                  <!-- Right aligned nav items -->
                  <b-navbar-nav class="ml-auto">
                      <b-nav-item-dropdown
                              class="ml-2"
                              right>
                          <!-- Using 'button-content' slot -->
                          <template #button-content>
                              <em>[[display_username]]</em>
                          </template>
                          <b-dropdown-item
                                  v-if="logged_in"
                                  v-on:click="logout()">Sign Out</b-dropdown-item>
                          <div class="m-2">
                              <b-form-input
                                      v-if="!logged_in"
                                      v-model="username_field"
                                      placeholder="Username"
                                      class="mt-2"
                                      :state="username_field_state"
                                      aria-describedby="username-input-live-feedback"
                                      trim></b-form-input>
                              <b-form-invalid-feedback id="username-input-live-feedback">
                                  Enter at least 5 letters
                              </b-form-invalid-feedback>

                              <b-form-input
                                      v-if="!logged_in"
                                      v-model="password"
                                      type="password"
                                      placeholder="Password"
                                      class="mt-2"
                                      :state="password_field_state"
                                      aria-describedby="password-input-live-feedback"
                                      trim ></b-form-input>
                              <b-form-invalid-feedback id="password-input-live-feedback">
                                      Enter at least 8 letters
                              </b-form-invalid-feedback>

                              <b-dropdown-item
                                      v-if="!logged_in"
                                      v-on:click="login()">Sign In</b-dropdown-item>
                          </div>
                      </b-nav-item-dropdown>
                  </b-navbar-nav>
               </b-collapse>
            </b-navbar>
         </div>
         <b-container fluid>
            <b-row align-h="center" class="mt-3">
               <b-col cols="6">
                  <h2>Rookie Mode</h2>
               </b-col>
            </b-row>
            <b-row align-h="center" class="mt-3">
               <b-col cols="6">
                  <h3>Question</h3>
                  <b-form-group id="input-group-3" label="" label-for="input-3">
                     <b-form-select id="input-3" v-model="selected_question" v-bind:options="questions"></b-form-select>
                  </b-form-group>
               </b-col>
            </b-row>
            <b-row align-h="center" class="mt-3">
               <b-col cols="1" v-for="n in 3">
                   <b-spinner type="grow" label="Spinning" v-show="answer_is_loading"></b-spinner>
               </b-col>
            </b-row>

            <b-row align-h="center" v-show="show_answer_and_results">
               <b-col cols="6" v-if="best_answer != null">
                   <h3>Most likely answer</h3>
                   <b-card>
                       <b-card-text>[[best_answer.answer]]</b-card-text>
                   </b-card>
               </b-col>
            </b-row>

            <b-row align-h="center" class="mt-3" v-show="show_answer_and_results">
               <b-col cols="6">
                   <h3>Results</h3>
                   <div>
                       <b-list-group>
                           <b-list-group-item
                                v-for="(paper, index) in papers"
                                style="border: none;">
                               <b-card v-bind:title="paper.meta.title" v-bind:sub-title="paper.meta.subtitle">
                                   <h5 class="mt-1">Score: [[Math.round(paper.probability*100)]]%</h5>
                                   <h5 class="mt-1">Answer</h5>
                                   <b-card-text>[[paper.answer]]</b-card-text>
                                   <h5 class="mt-1">Context</h5>
                                   <b-card-text>[[paper.context]]</b-card-text>
                                   <a class="card-link" v-on:click="show_paper_detail([[index]])" v-show="index != selected_paper">
                                       + details
                                   </a>
                                   <a class="card-link" v-on:click="change_paper_note(papers[index])" v-show="index != selected_paper">
                                       add note
                                   </a>
                                   <a class="card-link" v-on:click="show_paper_detail([index])" v-show="index != selected_paper">
                                       add to history
                                   </a>
                                   <a class="card-link" v-on:click="show_paper_detail([index])" v-show="index != selected_paper">
                                       add bookmark
                                   </a>
                                   <div v-show="index == selected_paper">
                                       <div v-if="(index == selected_paper) && (logged_in)">
                                       <b-form-textarea
                                               v-model="selected_user_specific_doc_meta.fields.note"
                                               placeholder="Enter something..."
                                               rows="3"
                                               max-rows="6"></b-form-textarea>
                                           <b-form-checkbox v-model="selected_user_specific_doc_meta.fields.bookmarked" switch>
                                               Bookmarked
                                           </b-form-checkbox>
                                           <a class="card-link" v-on:click="update_user_specific_doc_meta()">
                                               save
                                           </a>
                                       </div>
                                       <h5 class="mt-1">Top [[lda_results.length]] Topics:</h5>
                                       <!--canvas v-bind:id="'chart-' + index.toString()" width="400" height="200" v-show="index == selected_paper"></canvas-->
                                       <div class="container topic-tag-group" v-for="(topic, topic_index) in lda_results.topics">
                                           <div class="mt-3"> Topic [[topic_index]]:</div>
                                               <b-progress max=100 height="2rem" class="mt-2" variant="info">
                                                   <b-progress-bar :value="lda_results.topic_probabilities[topic_index]*100">
                                                       <span><strong>[[(lda_results.topic_probabilities[topic_index]*100).toFixed(2)]]%</strong></span>
                                                   </b-progress-bar>
                                               </b-progress>
                                           <div class="row text-center">
                                               <b-form-tag
                                                       v-for="tag in topic.words"
                                                       tagRemoveLabel=" "
                                                       :key="tag"
                                                       :title="tag"
                                                       class="mt-1">
                                                   [[tag]]
                                               </b-form-tag>
                                           </div>
                                       </div>
                                       <h5 class="mt-5">Related paper</h5>
                                       <b-carousel
                                               id="carousel"
                                               controls
                                               indicators
                                               width="400"
                                               height="200"
                                               img-width="400"
                                               img-height="200">
                                           <b-carousel-slide
                                                   v-for="(paper, index) in related_papers"
                                                   caption=""
                                                   img-blank
                                                   img-alt="Blank image">
                                               <b-list-group-item
                                                       style="border: none;">
                                                   <b-card
                                                           v-bind:title="paper.meta.title"
                                                           v-bind:sub-title="paper.meta.subtitle"
                                                           style="color: #000;">
                                                       <b-card-text>[[paper.abstract]]</b-card-text>
                                                   </b-card>
                                               </b-list-group-item>
                                           </b-carousel-slide>
                                       </b-carousel>
                                   </div>
                               </b-card>
                           </b-list-group-item>
                       </b-list-group>
                   </div>
               </b-col>
            </b-row>
         </b-container>
      </div>
      <!-- Add Vue and BootstrapVue scripts just before the closing </body> tag -->
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
      <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
      <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

      <script>
          Vue.use(BootstrapVue);
          axios.defaults.xsrfCookieName = 'csrftoken'
          axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
          let graph_var = JSON.parse(document.getElementById('graph_var').textContent);
          let abstract = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.';
          let chart_data_var = {
              type: 'horizontalBar',
              data: {
                  labels: ['Topic 1', 'Topic 2', 'Topic 3', 'Topic 4', 'Topic 5'],
                  datasets: [
                      {
                          label: 'Topic-fit',
                          data: [4.5, 2.1, 1, 0.9, 0.9, 0.8],
                          backgroundColor: ['rgba(255, 99, 132, 0.2)','rgba(54, 162, 235, 0.2)','rgba(255, 206, 86, 0.2)','rgba(75, 192, 192, 0.2)','rgba(153, 102, 255, 0.2)'],
                          borderColor: ['rgba(255, 99, 132, 1)','rgba(54, 162, 235, 1)','rgba(255, 206, 86, 1)','rgba(75, 192, 192, 1)','rgba(153, 102, 255, 1)'],
                          borderWidth: 1}]},
              options: {
                  scales:
                      {
                          yAxes: [
                              {
                              ticks: {
                                  beginAtZero: true
                              }
                              }
                          ]
                      }
              }
          };
          let vm = new Vue({
              delimiters: ["[[", "]]"],
              el: "#qas-ui",
              data: {
                  dump_abstract : abstract,
                  currentTab: "List",tabs: ["List", "Graph"],
                  graph: graph_var,
                  selected_paper: null,
                  logged_in: true,
                  username_field: "",
                  username: "",
                  password: "",
                  // { title: 'Paper Title 1' ,abstract: abstract, full: '', score: 0.99},
                  papers: null,
                  lda_results: [],
                  related_papers: [],
                  user_specific_doc_meta: [],
                  selected_user_specific_doc_meta: null,
                  selected_question: null,
                  best_answer: null,
                  questions: [
                      {
                          value: null,
                          text: 'Please select a question'
                      }
                      ],
                  chartoptions: {
                      responsive: true,
                      maintainAspectRatio: false
                  },
                  answer_is_loading: false
              },
              computed: {
                  show_answer_and_results: function(){
                      return this.selected_question != null && !this.answer_is_loading;
                  },
                  username_field_state() {
                      return this.username_field.length > 4 ? true : false
                  },
                  password_field_state() {
                      return this.password.length > 7 ? true : false
                  },
                  display_username() {
                      console.log(vm.logged_in)
                      console.log(vm.username)
                      return (this.logged_in && this.username.length > 0)? this.username : "User"
                  }
              },
              methods: {
                  show_paper_detail: function(index) {
                      if(vm.selected_paper == index){
                          vm.selected_paper = null;
                          vm.lda_results = null;
                          vm.related_papers = null;

                      }else{
                          let paper = vm.papers[index]
                          vm.selected_paper = index;
                          vm.selected_user_specific_doc_meta = user_specific_doc_meta(paper.id);
                          // render_lda(paper, index);

                      }
                  },
                  login: function(){
                      vm.username = vm.username_field

                      axios.post('http://127.0.0.1:8000/login/',
                          {
                              username: vm.username,
                              password: vm.password
                          }).then((response) => {
                              vm.password = "";
                              vm.logged_in = response.data['success'];

                              let variant = vm.logged_in? 'success' : 'danger';

                              this.$bvToast.toast(response.data['message'], {
                                  title: 'Login information',
                                  autoHideDelay: 5000,
                                  appendToast: true,
                                  variant: variant
                              });
                          }
                      );

                  },
                  logout: function(){
                      axios.get('http://127.0.0.1:8000/logout/')
                          .then((response) => {
                              vm.password = "";

                              vm.logged_in = !response.data['success'];

                              let variant = !vm.logged_in? 'success' : 'danger';

                              this.$bvToast.toast(response.data['message'], {
                                  title: 'Login information',
                                  autoHideDelay: 5000,
                                  appendToast: true,
                                  variant: variant
                              });
                          }
                      );
                  },
                  update_user_specific_doc_meta: function(){
                      let doc_id = vm.selected_paper.doc_id;
                      let meta = vm.selected_paper.meta;
                      let bookmarked = vm.selected_user_specific_doc_meta.fields.bookmarked;
                      let note = vm.selected_user_specific_doc_meta.fields.note;

                      console.log(bookmarked)
                      console.log(note)

                      update_user_specific_doc_meta(doc_id, note, bookmarked, meta)
                  }
            },
              mounted(){
                  load_question_selection();
              },
                watch: {
                  selected_question: function (val) {
                      vm.selected_paper = null;
                      ask_question(val);
                  },
                  logged_in: function (val) {
                      vm.password = ""
                      if(val === true){
                          load_all_user_specific_doc_meta();
                      }else{
                          vm.username = ""
                          vm.username_field = ""
                      }
                  }
    },
          });

          function user_specific_doc_meta(doc_id){
              let empty_doc_meta = {
                  fields: {
                      note: "",
                      bookmarked: false
                  }
              }
              if(!doc_id ||!vm.user_specific_doc_meta||vm.user_specific_doc_meta.length<1){
                  return empty_doc_meta;
              }

              for (let i = 0; i < vm.user_specific_doc_meta.length; i++) {
                  let doc = vm.user_specific_doc_meta[i];

                  if(doc_id.includes(doc.fields.doc_id)){
                      return doc;
                  }
              }

              return empty_doc_meta;
          }

          function update_user_specific_doc_meta(doc_id, note, bookmarked, doc_meta){
              let change_dic = {'doc_id': doc_id}
              if(note != null)
                  change_dic['doc_note'] = note
              if(bookmarked != null)
                  change_dic['doc_bookmarked'] = bookmarked

              axios.post('http://127.0.0.1:8000/update_user_specific_doc_meta/',change_dic).then((response) => {

                  let success = response.data['success'];
                  let message = response.data['message'];
                  let user_specific_doc_meta = response.data['user_specific_doc_meta']

                  if(success){
                      user_specific_doc_meta.fields.meta = doc_meta

                      let removeIndex = vm.user_specific_doc_meta.map(function(item){
                          return item.fields.doc_id;
                      }).indexOf(user_specific_doc_meta.fields.id);

                      if(removeIndex>=0) {
                          vm.user_specific_doc_meta.splice(removeIndex, 1);
                      }

                      vm.user_specific_doc_meta.push(user_specific_doc_meta)
                  }

                  let variant = success? 'success' : 'danger';
                  this.$bvToast.toast(message, {
                      title: 'Update information',
                      autoHideDelay: 5000,
                      appendToast: true,
                      variant: variant
                  });
              });
          }

          function load_all_user_specific_doc_meta(){
              axios.post('http://127.0.0.1:8000/user_specific_doc_meta/',{
              }).then((response) => {
                  vm.user_specific_doc_meta = response.data
              });
          }

          function render_paper_chart(index) {
              let chart_element = document.getElementById('chart-' + index.toString()).getContext('2d');
              // let chart = new Chart(chart_element,chart_data_var);
          }

          function render_lda(paper, index) {
              let ids = []

              for (let i = 0; i < vm.papers.length; i++) {
                  ids.push(vm.papers[i].doc_id);
              }

              axios.post('http://127.0.0.1:8000/lda/',
                  {
                      doc_id: paper.doc_id,
                      doc_ids: ids
                  }).then((response) => {
                    vm.lda_results = response.data;
                    let nearest_neighbours = response.data["nearest_neighbours"];

                    for (let i = 0; i < vm.papers.length; i++) {
                      let curr_id = vm.papers[i].doc_id;
                      if (new RegExp(nearest_neighbours.join("|")).test(curr_id)){
                          console.log(vm.papers[i].doc_id)
                          vm.related_papers.push(vm.papers[i]);
                      }
                    }
                  });
          }

          function load_question_selection() {
              axios.get('http://127.0.0.1:8000/question_selection/')
                  .then(response => (
                      vm.questions = response.data
                      )
                  );
          }

          function ask_question(question){

              vm.answer_is_loading = true;

              axios.post('http://127.0.0.1:8000/qas/',
                  {
                      question: question
                  }).then((response) => {
                  vm.answer_is_loading = false;
                  // vm.papers = response.data['answers']
                  // vm.best_answer = response.data['answers'][0]
                  vm.papers = response.data
                  vm.best_answer = response.data[0]

                  },(error) => {
                      vm.answer_is_loading = false;
                      console.log(error);
                  });
          }

      </script>
   </body>
</html>

